<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Couscous! Put your documentation in a website!</title>
    <meta name="description" content="Couscous! Put your documentation in a website!">

<!--
    <link href="http://localhost:8000/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost:8000/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://localhost:8000/css/highlight.tomorrow-night.css" rel="stylesheet">
    <link href="http://localhost:8000/css/main.css" rel="stylesheet">
-->

    <!-- Custom Fonts -->
<!--
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
-->



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/default.min.css" rel="stylesheet" type="text/css">
    
    
    <!--<link rel="stylesheet" href="http://localhost:8000/css2/scribbler-landing.css">-->
    

    <link rel="stylesheet" href="{{ baseUrl }}/css/reset.css">
    <link rel="stylesheet" href="{{ baseUrl }}/css/reboot.css">
    <link rel="stylesheet" href="{{ baseUrl }}/css/title.css">
    <link rel="stylesheet" href="{{ baseUrl }}/css/table.css">
    <link rel="stylesheet" href="{{ baseUrl }}/css/content.css">

    <link rel="stylesheet" href="{{ baseUrl }}/css/header.css">
    <link rel="stylesheet" href="{{ baseUrl }}/css/footer.css">


    <link rel="stylesheet" href="{{ baseUrl }}/css2/scribbler-global.css">
    <link rel="stylesheet" href="{{ baseUrl }}/css2/scribbler-doc.css">





    

    


    <!--<link rel="stylesheet" href="https://themes.gohugo.io//theme/hugo-whisper-theme/css/style.min.aad43d4ecb69a264f2539b89d7f779d5f3cdff22e7585fe5fc3c77272f1c2696.css">-->


<!--
    <link rel="icon" type="image/png" href="logo/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="logo/favicon-16x16.png" sizes="16x16" />
-->

    <!-- Google webmasters verification -->
    <meta name="google-site-verification" content="bjh41nmytWyBkuM8373PL1j6upqoiAQXSb19vMGJZDY" />

</head>

<body>
    <div class="doc__bg"></div>
    <nav class="header">
      <h1 class="logo">Scribbler <span class="logo__thin">Doc</span></h1>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="index.html" class="link link--dark"><i class="fa fa-home"></i> Home</a></li>
        <li class="menu__item"><a href="" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <aside class="doc__nav">
        <ul>
            {% for itemId, item in menu.items %}
                <li class="js-btn{{ itemId == current_menu ? ' selected' }}">
                    <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                        {{ item.text|raw }}
                    </a>
                </li>
            {% endfor %}
      </aside>
      <article class="doc__content">
        <section class="js-section content">
          {{ content|raw }}
        </section>
      </article>
    </div>

    <footer class="footer">Scribbler is a free HTML template created exclusively for <a href="https://tympanus.net/codrops/{{ currentFile }}" target="_blank" class="link link--light">Codrops</a>.</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ baseUrl }}/js/scribbler.js"></script>
</body>
</html>